- if logged_in? && current_user.has_role?(:admin)
	.map-container
		= react_component("MapApp", props: { users: @users, currentUser: current_user }, prerender: false)
- else
	%h2 You don't have permission to view this page.