- if logged_in? && current_user.has_role?(:admin)
	%ul
		- @users.each do |user|
			%li[user]= user.coordinates
	= react_component("MapApp", props: { users: @users, currentUser: current_user }, prerender: false)
- else
	%h2 You don't have permission to view this page.