- if logged_in? && current_user.has_role?(:admin)
	.map-container
		= react_component("MapApp", props: { users: @users, currentUser: current_user }, prerender: false)
- else
	= render partial: "roles/no_role_view"