.not-selected {
	background-color: #ddd;
	height: 80px;
	transition: all 1000ms;
	overflow: hidden;
}

.selected {
	background-color: #669966;
	height: 400px;
	color: white;
	transition: all 1000ms;
	overflow: auto;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	input[type="text"] {
		flex: 1 100%;
	}

	.radio-button {
		margin-top: 5px;
		display: flex;
		justify-content: flex-start;
		flex: 1 50%;

		input {
			flex: 1 15%;
		}

		label {
			flex: 3 90%;
			text-align: left;
		}
	}
}

.form_unfocused {
	overflow: hidden;
	transition: all 0.5s;
}

.form_focused {
	height: 50px;
	overflow: hidden;
	transition: all 0.5s;
}

.driver-info {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	h3, p {
		margin: 0;
	}

	h3 {
		font-size: 2em;
	}

	p {
		text-align: left;
	}
}

.place-list {
	padding: 0;
	background: #006858;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.place {
		width: 100%;
		display: flex;
		flex-direction: row;
		list-style: none;
		flex: 1;
		justify-content: flex-start;

		input {
			flex: 1 1 10%;
		}

		span {
			flex: 2 2 90%;
			text-align: left;
		}
	}
}