@font-face {
	font-family: 'Montserrat-Regular';
	src: font-url('Montserrat-Regular.ttf');
}

.not-selected {
	background-color: #ddd;
	height: 80px;
	transition: all 1000ms;
	overflow: hidden;
}

.selected {
	background-color: #669966;
	height: 400px;
	color: white;
	transition: all 1000ms;
	overflow: auto;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	input[type="text"] {
		flex: 1 100%;
	}

	.DEL {
		background-color: #e59400;
	}

	.PU {
		background-color: #006858;
	}

	.radio-button {
		margin-top: 5px;
		display: flex;
		justify-content: flex-start;
		flex: 1 50%;

		input {
			flex: 1 15%;
		}

		label {
			flex: 3 90%;
			text-align: left;
		}
	}
}

.form_unfocused {
	overflow: hidden;
	transition: all 0.5s;
}

.form_focused {
	height: 50px;
	overflow: hidden;
	transition: all 0.5s;
}

.driver-info {
	font-family: 'Montserrat-Regular';
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	flex: 1;
	text-align: center;

	h3, p {
		margin: 0;
	}

	h3 {
		font-size: 2em;
		height: 80px;
	}

	p {
		text-align: left;
	}
}

.place-list {
	flex: 3;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.place {
		padding: 5px 0px;
		width: 100%;
		display: flex;
		flex-direction: row;
		list-style: none;
		flex: 1;
		justify-content: flex-start;
		position: relative;

		input, span, .delete-button {
			z-index: 10;
		}

		input {
			flex: 1 1 10%;
		}

		span {
			flex: 1 1 20%;
		}

		.delete-button {
			background-color: #cc3300;
			padding: 2px;
			text-align: center;
			border-radius: 3px;
		}

		.place-name {
			flex: 2 2 90%;
			text-align: left;
		}
	}

	.PU {
		background-color: #006858;
	}

	.DEL {
		background-color: #e59400;
	}
}