.map-container {
	position: relative;
	width: 50%;
	margin: 0 auto;
}

.bubble {
  position: relative;
  top: -55px;
  left: 8px;
  width: 100px;
  height: 50px;
  background-color: #669966;
  text-align: center;
  font-size: 12px;
  color: white;
  white-space: nowrap;
  overflow: hidden;
}

.bubble-title {
  font-size: 14px;
  text-overflow: clip;
}

.bubble-enter {
	height: 0px;
  width: 0px;
  left: 0px;
  top: 0px;
}

.bubble-enter.bubble-enter-active {
  height: 50px;
  width: 100px;
  left: 8px;
  top: -55px;
  transition: all 500ms ease-out;
}

.bubble-leave {
  height: 50px;
  width: 100px;
  left: 8px;
  top: -55px;
}

.bubble-leave.bubble-leave-active {
  height: 0px;
  width: 0px;
  left: 0px;
  top: 0px;
  transition: all 300ms ease-in;
}